/*Reset CSS*/
html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-size: 1em;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

/*End reset CSS*/

/*Variables*/
$marginTop: 5px;

/*End variables*/

.wrapper {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #444;
    max-width: 900px;
    min-width: 768px;
    margin: auto;

    & .page {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    & .left {
        li {
            margin-top: $marginTop;
        }
    }

    & .right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & .temp_min-max {
            margin-top: $marginTop;
        }
    }
}

.temp- {
    &min {
        color: blue;
    }

    &max {
        color: red;
    }
}

.tabs {
    &-wrapper {
        margin-top: $marginTop;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &:after {
        display: table;
        content: ' ';
        clear: both;
    }

    &-content {
        width: max-content;
        z-index: 3;
        position: relative;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

        & > div {
            width: max-content;
        }

        & .forecast {
            &-content {
                display: inline-block;
                margin-left: 15px;

                &:first-child {
                    margin-left: 0;
                }
            }

            &-img {
                height: 45px;
                display: flex;
                align-items: center;
            }
        }
    }

    & li {
        float: left;
        display: block;
    }

    & a {
        padding: 10px;
        display: inline-block;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

        & [class^="link"] {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .temp-min-max {
                display: flex;
                justify-content: space-between;

                & .temp-min {
                    margin-left: 5px;
                }
            }
        }
    }

    & .active {
        & a {
            background-color: #f1f1f1;
        }
    }
}

.hour-by-hour {
    overflow: scroll;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    padding: 5px;

    &_col {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: solid black 1px;

        &:first-child {
            border-left: none;
        }
    }

    &_img {
        width: 40px;
        height: auto;
    }

    &_temp, &_hour {
        font-size: 15px;
    }
}

.tab {
    &-content {
        display: none;

        &.active {
            display: flex;
            flex-wrap: nowrap;
        }
    }
}
